    <link rel="stylesheet" href="/css/mypage.css">   
<body>
    <div class="container">
        <form action="/create_recipe" method="post">
            <button type="button" class="btn-square-pop" name="recording" onclick="location.href='./create_recipe'">レシピ記入</button>
        </form>
        <form action="/myrecipe" method="post">
            <button type="button" class="btn-square-pop" name="record"  onclick="location.href='./myrecipe'">レシピ閲覧</button>
        </form>
    </div>
</body>