
 <head>
    <link rel="stylesheet" href="myrecipe.css">
    <script src="script.js"></script>
  </head>
  <body>
  <div class="container">
    <h1>レシピ帳</h1>
    <div class="categry">
        <div class="categry-item">
            <button class="btn-gradient-radius">おかず</button>
            <button class="btn-gradient-radius">定食</button>
            <button class="btn-gradient-radius">ごはん</button>
            <button class="btn-gradient-radius">汁もの</button>
            <button class="btn-gradient-radius">デザート</button>
        </div>
    </div>
</div>
  </body>
</html>