<%# サインインのフォーム %>
<head>
    <link rel="stylesheet" href="/css/signin.css">
    <title>signin</title>
</head>
<body>
<form action="/signin" method="post">
    <h1>サインイン</h1>
        <input type="email" name="email" placeholder="メールアドレス">
        <input type="password" name="password" placeholder="パスワード">

        <input type="submit" class="btn" value="ログイン">
</form>
</body>