<%# サインアップのフォーム %>
<head>
    <link rel="stylesheet" href="/css/signup.css">
    <title>signup</title>
</head>
<form action="/signup" method="post">
    <h1>新規登録</h1>
        <input type="text" name="name" placeholder="ユーザー名">
        <input type="email" name="email" placeholder="メールアドレス">
        <input type="password" name="password" placeholder="パスワード">
        
        <input type="submit" class="btn" value="登録">
</form>
